<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4-oV1TRcBH-DTRS9ZagQWlBUA83acbiQ</string>
	<key>GCM_SENDER_ID</key>
	<string>542302591162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.greenchargehub</string>
	<key>PROJECT_ID</key>
	<string>greenchargehub01</string>
	<key>STORAGE_BUCKET</key>
	<string>greenchargehub01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542302591162:ios:ffb3c7f1afdf9408b38a83</string>
</dict>
</plist>